# Virtual env

.venv/
venv/

# Python

**pycache**/
\*.pyc

# Banco local

db.sqlite3

# Uploads

media/

# Static de produção

staticfiles/

# Variáveis sensíveis

.env

# VS Code

.vscode/

# Windows

Thumbs.db
Desktop.ini
